nav{
    background-color: gold;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;

}
nav ul li{
    margin-right: 20px;
}
nav  ul li{
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: azure;
    color: #000;
}
main{
    padding: 10px;
    margin-bottom: 10px;
    background-color: aquamarine;
}
footer{
    background-color: yellowgreen;
    padding: 20px;
    display: flex;
    justify-content: center;
}
